/* angular */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body {
  background-color: #fff;
}

/* sign-in */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* inputs */
.ng-invalid.ng-dirty {
  border-color: #a94442;
}
.ng-valid.ng-dirty {
  border-color: #3c763d;
}

/* messages */
.alert {
  max-width: 300px;
  margin:0 auto;
}

/* carousel */
ul.gallery {
  margin:0;
  padding:0;
}
ul.gallery > li {
  float:left;
  list-style:none;
}
ul.gallery > li  img {
  margin-left:10px;
  max-width:140px;
  border-radius:5px;
  border:1px solid #e7e7e7;
}